:root {
    --soft-moss: #b6c49d;
    --forest-floor: #7d8463;
    --rich-soil: #515739;
    --earthy-brown: #968165;
    --walnut-shell: #6c5845;
    --olive-grove: #706b41;
    --honeycomb: #fbe467;
    --misty-morning: #f8fbf8;
    --warm-beige: #e5d8b1;
    --fresh-foliage: #d8e4bf;
}
body{
    height: 100vh;
}

#hello {
    color: var(--warm-beige);
    font-size: larger;
    cursor: grab;
}

#hello:hover {
   color: var(--honeycomb);
    transform: scale(1.2);
}

a:hover {
    transform: scale(1.2);
}

button:hover, .btn:hover {
    transform: scale(1.1);
}

#body {
    height: 93vh;
    background-color: var(--misty-morning);
}

.card, .flip-card-front, .flip-card-back, #new-comment, #check_btn {
    box-shadow: 10px 10px 15px 7px rgba(0,0,0,0.1);
}

label {
    color: var(--walnut-shell);
}

/* The flip card container */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: var(--warm-beige);
    color: var(--walnut-shell);
}

/* Style the back side */
.flip-card-back {
    background: var(--soft-moss);
    color: var(--walnut-shell);
    transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

#thinking_img, #dancers_img {
    height: 12rem;
}

#cheering_img, #msg{
    position: absolute;
    top: 3rem;
    left: 1rem;
    height: 5rem;
    width: 6rem;
    margin-bottom: 1rem;
}

i {
    font-size: 2rem;
    color: var(--walnut-shell);
}

#trash_icon {
    font-size: 1.2rem;
    color: var(--earthy-brown);
}

#trash_icon:hover {
    color: salmon;
}

#crown {
    color: var(--honeycomb);
    font-size: 1.2rem;
}

#q-card_div{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
